services:
 db:
  image: pgvector/pgvector:pg16
  container_name: postgres_db
  restart: always
  environment:
   - POSTGRES_USER=${user_nm}
   - POSTGRES_PASSWORD=${password}
   - POSTGRES_DB=${database}
  ports:
   - "${puerto_db_ext}:${puerto_db_int}"
  volumes:
   - ./init.sql:/docker-entrypoint-initdb.d/init.sql
   - pgdata:/var/lib/postgresql/data

 app:
  build: .
  ports:
   - "${puerto_app_ext}:${puerto_app_int}"
  container_name: python_app
  env_file:
   - .env
  depends_on:
   - db
  command: ./entrypoint.sh

volumes:
 pgdata:
